html {
	height: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	display: flex;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Nunito';
	font-weight: bold;
	color: #DDD;
	background-color: #222;
	align-items: center;
	flex-direction: column;
}