@import "globals";
#audio-player-title {
	font-size: 28px;
	margin-bottom: 8px;
}

#load-progress {
	width: 50%;
	height: 28px;
}

#everything-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

	#post-load-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		font-size: 20px;
	
		#play-marker-container {
			display: flex;
			margin-bottom: 8px;
		
			.play-marker {
				font-family: 'Times New Roman';
				font-weight: bold;
				font-size: 28px;
				width: 42px;
				aspect-ratio: 1;
				background-color: #DDD;
				border: 3px solid black;
				color: #222;
				margin-left: 3px;
			
				&:active {
					transform: scale(0.9);
				}
			}
		}
	
		audio {
			width: 90%;
			margin-bottom: 8px;
		}
	
		#count-in-button {
			font-family: 'Nunito';
			font-size: 16px;
			font-weight: bold;
		}
		
		#split-controls {
			:first-child {
				.group-row {
					justify-content: space-between;
					width: 100%;
				}
			}

			.split-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-bottom: 6px;
				width: 100%;
	
				.group-row {
					height: 24px;
					display: flex;
					align-items: center;
			
					input[type=checkbox] {
						height: 20px;
						aspect-ratio: 1;
					}
				}
			}
		}
	}
}