html {
	height: 100%;
}
body {
	display: flex;
	background-color: #222;
	color: #DDD;
	font-family: 'Nunito';
	font-weight: bold;
	align-items: center;
	height: 100%;
	flex-direction: column;
	margin: 0;
}

#push-elements-down {
	height: 35%;
}

#audio-player-title {
	font-size: 32px;
	margin-bottom: 10px;
}

#load-progress {
	width: 50%;
	height: 32px;
}

#post-load-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	font-size: 24px;
}

#play-marker-container {
	display: flex;
	margin-bottom: 10px;
}

.play-marker {
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 32px;
	width: 48px;
	aspect-ratio: 1;
	background-color: #DDD;
	border: 4px solid black;
	color: #222;
	margin-left: 4px;
}

	.play-marker:active {
		transform: scale(0.9);
	}

audio {
	width: 90%;
	margin-bottom: 10px;
}

.group-row {
	height: 28px;
	display: flex;
	align-items: center;
}

input[type=checkbox] {
	height: 24px;
	aspect-ratio: 1;
}